*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'gabarito',sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black;
    gap: 10px;

}

.navbar__s1__title{
    color: #A435F0;
}

.navbar__s2{
    padding: 10px;
    border: solid black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: centre;
}

.navbar__s2 input{
    border: none;
    font-size: 16px;
    width: 100%;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black;
    justify-content: space-around;
    
}

.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border: solid #A435F0;
}

.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: #A435F0;
    border: solid #A435F0;

}

.sale-image img{
    width: 100%;
}    

.recommended{
    padding: 10px;
}

.recommended__container{
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

}

.course-card{
    width: 300px;
}

.course-card img{
    height: 50%;
    width: 100%;
}

.topics{
    padding: 10px;
}
 .topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;


}

.topics__container p{
    border: solid gray;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular{
    padding: 10px;

}

.popular__container{
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one{
    display: flex;
    gap: 10px;

}

.footer__one p{
    margin: 20px;

}

.footer__two{
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}